body{
  margin: 0;
  background-color: lightblue;
  text-align: center;
  font-family:'Merriweather', serif;
}

h1{
  color:red;
  font-family: 'Sacramento', cursive;
}

h3{
  color:green;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 2px;
  width: 10%;
}

img{
  width: 10%;
}
